.navbar {
    background: linear-gradient(90deg, #ed7313, #f59f3d, #f6b153, #d2520d);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  
    .navbar-container {
      width: 100%;
      max-width: 1200px;
      display: flex;
      justify-content: center; /* Center the items */
      align-items: center;
      padding: 0 20px;
    }
  
    .navbar-logo {
      margin-right: auto; /* Push logo to the left */
    }
  
    .navbar-logo a {
      color: white;
      font-size: 1.5rem;
      text-decoration: none;
      font-weight: bold;
    }
  
    .navbar-menu {
      display: flex;
      list-style: none;
      margin-right: 100px;
  
      .navbar-item {
        margin: 0 10px;
        margin-right: 50px;
  
        .navbar-link {
          color: white;
          text-decoration: none;
          font-size: 1.15rem; /* Augmenter la taille de l'écriture */
          transition: color 0.3s;
  
          &:hover {
            color: #ae360f;
          }
        }
      }
    }
  
    .navbar-toggle {
      display: none;
      flex-direction: column;
      cursor: pointer;
  
      .bar {
        height: 3px;
        width: 25px;
        background-color: white;
        margin: 4px 0;
        transition: 0.3s;
      }
    }
  }
  
  @media (max-width: 768px) {
    .navbar-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
  
      .navbar-item {
        width: 100%;
        text-align: center;
        margin: 10px 0;
  
        .navbar-link {
          padding: 10px;
          display: block;
          width: 100%;
          font-size: 1.25rem;
        }
      }
    }
  
    .navbar-toggle {
      display: flex;
    }
  }
  
  .login-button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #ae360f;
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    cursor: pointer; /* Ajout de la propriété cursor */
  }
  
  .login-button:hover {
    background-color: #ed7313;
    transform: scale(1.1);
  }
  
  .login-button:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
  