<nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <a href="/">UNIPAL</a>
      </div>
      <ul class="navbar-menu">
        <li class="navbar-item">
          <a href="/services" class="navbar-link">Services</a>
        </li>
        <li class="navbar-item">
          <a href="/a-propos" class="navbar-link">A propos</a>
        </li>
        <li class="navbar-item">
          <a href="/faq" class="navbar-link">FAQ</a>
        </li>
        <li class="navbar-item">
          <a href="/contact" class="navbar-link">Contact</a>
        </li>
      </ul>
      <div class="navbar-toggle" (click)="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      
      <div>
        <a href="/login" class=""><button class="login-button" type="button">Login / S'inscrire</button></a>
      </div>
    </div>
  </nav>
  